page-edit {
    .login-content {
        background-color: #DDDD;
        .login-box {
            padding: 10px 10px 0px 10px;
            margin-top: 0px;
        }
        ion-row {
            align-items: center;
            text-align: center;
        }
        .signup-col {
            margin: 0px 16px 0px 16px;
            padding-bottom: 20px;
        }
        .item-inner {
            border-bottom-color: #ffffff !important;
            box-shadow: none !important;
        }
        .register-btn {
            color: #757575;
            font-size: 0.8em;
        }
        .icon-size {
            font-size: 90px;
            border-radius: 20px 0px 0px 0px;
        }
    }
    ion-card {
        border-top: 4px solid #a80000;
    }
}