page-create {
    ion-list{
        margin: 0;
        padding: 0;
    }
    .subtitle {
        font-size: 25px;
        
        text-align: center !important;
    }

    background-color: #DDDD;
}
